<%= form_for(@application) do |f| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :size=>50 %>
  </div>
  <div class="field">
	<label for="product_category_id">Category:</label>
	<br />
	<%= f.collection_select :category_id, Category.find(:all), :id, :name, :prompt => "Select a Category" %> or create one:
	<%= f.text_field :new_category_name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :cols=>100, :rows=>30 %>
  </div>
  <div class="field">
    <%= f.label :source %><br />
    <%= f.text_field :source, :size=>100 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
